*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pai{
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    display: flex;
    
   
}
h4{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 1.5vh;
    color: #fff;
    
}
.h5s{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
.topo{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: -0.8vw;
    
}
body{
    background-color: #1d7044;
}
.butao{
    background-color: #1d7044;
    color: white;
    border: none;
    padding: 2px;
    border-radius: 3px;
    margin-right: 25vw;
    margin-top: 2vh;
    margin-bottom: 7vh;
}
.inp{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    
}
input{
    width: 30vw;
    border: #1d7044 1px solid;
    border-radius: 3px;
    height: 5vh;
    
}
label{
    color: #1d7044;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}
h2{
    padding-top: 2vh;
    font-size: xx-large;
    margin-left: -4vw;
    color: #1d7044;
}
.h11{
    color: #fff;
}
.h5{
    color: #fff;
    background-color: #1d7044;
    border: none;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 1vh;
    margin-bottom: 1.5vh;
}
.errou{
    color: red;
}
.permitido{
    color: rgb(0, 183, 0);
}
.hidd{
    display: none;
}
